
 * {
	text-align: center !important;
margin: auto !important;
}

 #dt {
     border-collapse: collapse;
 }

 #dt tr, #dt td, #dt th   {
     border: 1px solid black;
 }

 .green{
     color: #008000;
 }

.red{
    color: #ff0000;
}